body {
    margin: 0;
    height: 99vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;


    background: #F0F0F0;
    border: 1px dashed #888888;

}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}