.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    margin-top: 19;

}

.color {
    color: #FF5722
}

.logo {
    width: 263px;
    height: 53px;
    left: -3px;
    top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 1500px;
    height: 80px;
    left: 0px;
    top: 1px;
}

.ProductName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ProductName1 {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 539px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    line-height: 0px;
}

.productphoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 30px;
    width: 1396.83px;
    height: 387px;
    left: 50px;
    top: 195px;
}

.memory-configuration {
    margin-top: 30px;
}

.characteristic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;

}

.productcolor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}



.allcharacteristic {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


}

.square-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
}

.square-image__image {
    width: 30.93px;
    height: 60px;
}

.button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
    width: 92px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
}

li::marker {
    color: #888888;
    content: "\2B24";

}

.description {

    width: 880px;
    height: 421px;

}

.description__p {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}



.sidebar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 420px;
    height: 957px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;


    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    width: 132px;
    height: 73px;
    margin: 0;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 420px;
    height: 275px;
    box-sizing: border-box;
}

.old {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;

}

.sale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.before {
    width: 66px;
    height: 16px;
    text-decoration-line: line-through;
    color: #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;

    width: 380px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

body {
    font-size: 18px;
    max-width: 1500px;
    margin: auto;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #c00
}

button {
    padding: 8px 12px;
}

.h6 {
    color: #888888;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: auto;
}



.button1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 49px;
    gap: 10px;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;

}

.basket {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

}

.ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 420px;
    height: 642px;
}

p {
    margin: 16px;
    margin-left: 0;
}

ul {
    padding-inline-start: 0px;
    padding-left: 20px;
}

.reviews__people {
    display: flex;
}

.reviews__description {
    display: flex;
    flex-direction: column;
}

.reviews__star {
    height: 30px;
    width: 150px;
}

.reviews__avatar {
    margin-right: 10px;
}